/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navbar */
.navbar2 {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.logo2 {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav p {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

/* Carousel */
.carousel1 {
    /* Implement your carousel styles (e.g., Slick Carousel) */
}

/* Offer section */
.offer2 {
    text-align: center;
    margin: 40px 0;
}

/* Product grid */
.products2 {
    /* Add styling for the product grid */
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px;
}

/* Category cards */
.categories2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-card2 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px;
}

/* Footer */
footer2 {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

