{% extends 'indexB.html' %}
{% load static %}

{% block content %}

<center><h1 style="color: black">about us</h1></center>	

<h5 style="color: black">Here at ity creative we try our best to keep to the costumers request and desires and at the same time being timely. we offer lots of services , like monogramming, embriodry, clothing accessories, already made clothes, and you can order a dress from us(this would require that you send us the required measurements) , we also offer training(apprientiship)<p>For all orders that has for one reason or the other not being delivered on time. The costumer is entitiled for a refund. All refunds will be made directly to the account it was paid from. for futher information contact us via our phone number 07068346031</p> </h5>	
		
{% endblock content %}
